.container {
    width: 30vw;
    height: 30vw;
    margin: 100px;
    border: solid 1px;
    transform: rotate(45deg);
    transition: transform 2s;
}

.inner {
    transform: rotate(-45deg);    
}

/*Cool spin effect
.container:hover {
    transform:  rotateY(180deg) rotate(45deg);
}
*/
